html{
background: -webkit-linear-gradient(-45deg, rgba(82,77,128,1) 0%, rgba(145,191,222,1) 100%);
height:100%;
}
form{
  border:1px solid white;
  border-radius: 10px;
  display:inline-block;
  position:relative;
  margin-left: 44%;
  margin-top: 8%;
  padding: 20px;
  background: rgba(255,255,255,0.28);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.28) 0%, rgba(246,246,246,0.66) 53%, rgba(255,255,255,0.59) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.28)), color-stop(53%, rgba(246,246,246,0.66)), color-stop(100%, rgba(255,255,255,0.59)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.28) 0%, rgba(246,246,246,0.66) 53%, rgba(255,255,255,0.59) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0.28) 0%, rgba(246,246,246,0.66) 53%, rgba(255,255,255,0.59) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.28) 0%, rgba(246,246,246,0.66) 53%, rgba(255,255,255,0.59) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0.28) 0%, rgba(246,246,246,0.66) 53%, rgba(255,255,255,0.59) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

form input{
  display: block;
  height:2em;
  border-radius: 10px;
  border: 1px solid gray;
  color:navy;
}

.submit{
  position:relative;
  margin-top: 15px;
  margin-left: 32%;
  background-color: transparent;
  color:white;
}
.submit:hover{
  background-color:rgba(255, 255, 255,.7);
  color:navy;

}
.player2{
  margin-top: 10%;
}


.title{
  text-align: center;
  font-family: Lobster;
  font-size: 4em;
  color: #FAFAFA;
  text-shadow:2px 2px black;
}


.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.email{
  margin-top: 3px;
}