<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href= "css/login.css">
</head>
<body>
  <h1 class="title">Connect 4</h1>
<form action="/signin" method="post">
  <input class="player1 glowing-border" type="text" name="player1name" placeholder="Player 1">
  <input class="email player1 glowing-border" type="email" name="player1" placeholder="player1@email.com">
  <input class="player2 glowing-border" type="text" name="player2name" placeholder="Player 2">
  <input class="email glowing-border" type="email" name="player2" placeholder="player2@email.com">
  <input class="glowing-border submit" type="submit" value="Play!">
</form>
</body>
</html>
